.comic-thumb {
    background-color: $colorPrimary;

    .comic-thumb-container {
        position: relative;
        padding: 3rem 0;

        .comic-thumb-wrapper {
            position: absolute;
            bottom: 20px;
            border: 1px solid #fff;

            span {
                position: absolute;
                background-color: $colorPrimary;
                color: #fff;
                padding: 0.5rem;

                &.comic-type {
                    top: 0;
                    left: 0;
                }

                &.comic-gallery {
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }

            img {
                display: block;
            width: 219px;

            }
        }
    }
}

#comic-main {
    padding: 60px 0;

    .comic-info {
        float: left;
        width: calc(100% / 3 * 2);

        h1 {
            color: $colorTitle;
            text-align: center;
            margin-bottom: 1rem;
        }

        .comic-availability-container {
            display: flex;
            background-color: #55ba59;
            border-bottom: 1px solid #357739;
            font-weight: 600;

            .price, .availability, .check {
                padding: 15px;
            }

            .price {
                flex-grow: 2;
            }

            .availability {
                border-right: 1px solid #357739;
            }

            .price, .availability {
                color: #bafd9c;
            }

            .comic-price, .check {
                color: #fff;
            }
        }

        .comic-description {
            line-height: 1.8;
            font-weight: 600;
            margin-top: 30px;
        }
    }

    .comic-adv {
        float:left;
        width: calc(100% / 3);
        text-align: right;

        h5{
            margin-bottom: 1rem;
        }
    }
}

#comic-details {
    background-color: #F6F6F6;
    border-top: 1px solid $borderDetailsColor;
    padding: 4rem 0;

    .small-container{
        display: flex;
    }

    .talent, .specs {
        width: calc(50% - 15px);
        box-sizing: border-box;
        float: left;

        h2 {
            color: $colorTitle;
            margin-bottom: 1rem;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                border-top: 1px solid #e3e3e3;
                padding: 0.5rem 0;
                font-weight: 600;

                &:last-child {
                    border-bottom: 1px solid $borderDetailsColor;
                }

                span:first-child {
                    min-width: calc(100% / 3);
                    max-width: calc(100% / 3);
                    color: $colorTitle;
                    font-size: 1rem;
                }

                span:last-child {
                    font-size: 1rem;
                }

                a {
                    color: #8cdffe;
                    font-size: 0.8rem;
                }
            }
        }
    }

    .talent {
        margin-right: 1rem;
    }

    .specs {
        margin-left: 1rem;
    }
}

#comic-bottom {
    background-color: #F6F6F6;
    border-top: 1px solid $borderDetailsColor;

    .icon-box-container {
        display: flex;
        .icon-box {
            border-left: 1px solid $borderDetailsColor;
            flex-grow: 1;
            padding: 10px;

            &:hover {
                background-color: $iconColorHover;

                a {
                    color: $colorTitle;
                }
            }

            &:last-child {
                border-right: 1px solid $borderDetailsColor;
            }

            a {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                color: $secondary_text_color;
            }

            .icon-box-image {
                display: inline-block;
                width: $icon_box_image_size;
                height: $icon_box_image_size;
            }
        }

    }
}